html,
body {
 height: 100%;
 overflow: hidden;
}
body { /* can also be whatever container */
 display: flex;
 display: -webkit-flex;
 display: flex;
 -webkit-align-items: center;
 align-items: center;
 -webkit-justify-content: center;
 justify-content: center;
 font-family: "Courier New", "Courier";
}
#wrapper {
 font-size: 42px;
 padding: 30px;
 text-align: center;
}
a { color: black; }